svg {
    width: 100vw;
    height: 55vw;
    margin:auto;
}

line{
    stroke:#000000;
}

.label{
    font-size:.6em;
    font-family: sans-serif;
    text-anchor: end;
}

.inactive{
    opacity: .1;
}

.hidden{
    opacity: 0;
}

.lineLabel {
    fill:red;
    font-size: 2em;
}